<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Add Now Marker, Main Charts</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Enabled</string>
			<key>Key</key>
			<string>addNowMarkerToCharts</string>
			<key>DefaultValue</key>
			<false/>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Automatic Strategy Switching</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Enabled</string>
			<key>Key</key>
			<string>dosingStrategyAutomationEnabled</string>
			<key>DefaultValue</key>
			<false/>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Switching BG Threshold</string>
			<key>Key</key>
			<string>dosingStrategyThreshold</string>
			<key>KeyboardType</key>
			<string>NumbersAndPunctuation</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Negative IOB Factor</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Negative IOB Factor</string>
			<key>Key</key>
			<string>negativeBasalMultiplier</string>
			<key>DefaultValue</key>
			<string>1.0</string>
			<key>Values</key>
			<array>
				<real>0.05</real>
				<real>0.1</real>
				<real>0.15</real>
				<real>0.2</real>
				<real>0.25</real>
				<real>0.3</real>
				<real>0.35</real>
				<real>0.4</real>
				<real>0.45</real>
				<real>0.5</real>
				<real>0.55</real>
				<real>0.6</real>
				<real>0.65</real>
				<real>0.7</real>
				<real>0.75</real>
				<real>0.8</real>
				<real>0.85</real>
				<real>0.9</real>
				<real>0.95</real>
				<real>1</real>
			</array>
			<key>Titles</key>
			<array>
				<string>5%</string>
				<string>10%</string>
				<string>15%</string>
				<string>20%</string>
				<string>25%</string>
				<string>30%</string>
				<string>35%</string>
				<string>40%</string>
				<string>45%</string>
				<string>50%</string>
				<string>55%</string>
				<string>60%</string>
				<string>65%</string>
				<string>70%</string>
				<string>75%</string>
				<string>80%</string>
				<string>85%</string>
				<string>90%</string>
				<string>95%</string>
				<string>100%</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Partial Bolus Application Factor</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Enabled</string>
			<key>Key</key>
			<string>alternatePAFEnabled</string>
			<key>DefaultValue</key>
			<false/>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Alternate Application Factor</string>
			<key>Key</key>
			<string>alternatePAFSetting</string>
			<key>DefaultValue</key>
			<string>0.4</string>
			<key>Values</key>
			<array>
				<real>0.05</real>
				<real>0.1</real>
				<real>0.15</real>
				<real>0.2</real>
				<real>0.25</real>
				<real>0.3</real>
				<real>0.35</real>
				<real>0.4</real>
				<real>0.45</real>
				<real>0.5</real>
				<real>0.55</real>
				<real>0.6</real>
				<real>0.65</real>
				<real>0.7</real>
				<real>0.75</real>
				<real>0.8</real>
				<real>0.85</real>
				<real>0.9</real>
				<real>0.95</real>
				<real>1</real>
			</array>
			<key>Titles</key>
			<array>
				<string>5%</string>
				<string>10%</string>
				<string>15%</string>
				<string>20%</string>
				<string>25%</string>
				<string>30%</string>
				<string>35%</string>
				<string>40%</string>
				<string>45%</string>
				<string>50%</string>
				<string>55%</string>
				<string>60%</string>
				<string>65%</string>
				<string>70%</string>
				<string>75%</string>
				<string>80%</string>
				<string>85%</string>
				<string>90%</string>
				<string>95%</string>
				<string>100%</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Basal Lock</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Enabled</string>
			<key>Key</key>
			<string>basalLockEnabled</string>
			<key>DefaultValue</key>
			<false/>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Basal Lock Threshold</string>
			<key>Key</key>
			<string>basalLockThreshold</string>
			<key>KeyboardType</key>
			<string>NumbersAndPunctuation</string>
		</dict>
	</array>
</dict>
</plist>
